@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <br />
    <div>
        <a class="btn btn-success btn-lg col-md-3" href="http://localhost:64471/Create">Create an Event/Your Events</a>
        <a class="btn btn-info btn-lg col-md-3 col-md-offset-1" href="http://localhost:64471/All">All Events</a>
        <a class="btn btn-warning btn-lg col-md-3 col-md-offset-1" href="http://localhost:64471/Attend">Events Your Attending</a>
    </div>
</div>